<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @fornecedor.nome %>
</p>

<p>
  <b>Marcas:</b>
  <%= @fornecedor.marcas.first.nome %>
</p>

<p>
  <b>Telefone:</b>
  <%= @fornecedor.telefone %>
</p>


<%= link_to 'Edit', edit_fornecedor_path(@fornecedor) %> |
<%= link_to 'Back', fornecedors_path %>
