<%= form_for(@custo_produto) do |f| %>
  <% if @custo_produto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@custo_produto.errors.count, "error") %> prohibited this custo_produto from being saved:</h2>

      <ul>
      <% @custo_produto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :custo %><br />
    <%= f.text_field :custo %>
  </div>
  <div class="field">
    <%= f.label :produto_id %><br />
    <%= f.number_field :produto_id %>
  </div>
  <div class="field">
    <%= f.label :data %><br />
    <%= f.datetime_select :data %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
