<p id="notice"><%= notice %></p>

<p>
  <b>Custo:</b>
  <%= @custo_produto.custo %>
</p>

<p>
  <b>Produto:</b>
  <%= @custo_produto.produto_id %>
</p>

<p>
  <b>Data:</b>
  <%= @custo_produto.data %>
</p>


<%= link_to 'Edit', edit_custo_produto_path(@custo_produto) %> |
<%= link_to 'Back', custo_produtos_path %>
