<%= form_for(@produto) do |f| %>
  <% if @produto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@produto.errors.count, "error") %> prohibited this produto from being saved:</h2>

      <ul>
      <% @produto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :sku %><br />
    <%= f.text_field :sku %>
  </div>
  <div class="field">
    <%= f.label :estoque %><br />
    <%= f.number_field :estoque %>
  </div>
  <div class="field">
    <%= f.label :cod_fornecedor %><br />
    <%= f.text_field :cod_fornecedor %>
  </div>
 

  </div>
  <div class="field">
    <%= f.label :cod_fornecedor %><br />
    <%= f.collection_select :marca_id, Marca.all, :id, :nome %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
